{% extends 'main/base.html' %}

{% block content %}
<style>
    body {
        margin: 20px 0 0 0;  
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px; 
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    .first-place {
        background-color: gold; 
    }

    .second-place {
        background-color: silver;
    }

    .third-place {
        background-color: #cd7f32;
    }
</style>


<h1>Leaderboard</h1>
    <table>
        <thead>
            <tr>
                <th>Placement</th>
                <th>User</th>
                <th>Profit</th>
            </tr>
        </thead>
        <tbody>
            {% for portfolio in portfolios %}
            <tr {% if forloop.counter == 1 %}class="first-place"{% endif %}
                {% if forloop.counter == 2 %}class="second-place"{% endif %}
                {% if forloop.counter == 3 %}class="third-place"{% endif %}>
                <td>
                    {% if forloop.counter == 1 %}
                        1st
                    {% elif forloop.counter == 2 %}
                        2nd
                    {% elif forloop.counter == 3 %}
                        3rd
                    {% else %}
                        {{ forloop.counter }}th
                    {% endif %}
                </td>
                <td><a href="{% url 'user_portfolio' username=portfolio.user_profile.user.username %}">{{ portfolio.user_profile.user.username }}</a></td>
                <td>${{ portfolio.profit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}

