{% extends 'main/base.html' %}

{% block content %}
    
    <h1>Notifications</h1>
    <hr class="my-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Transaction Details</th>
            </tr>
        </thead>
        <tbody>
            {% for notification in notifications %}
                <tr>
                    <td>{{ notification.created_at }}</td>
                    <td>{{ notification.transaction_details }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}