{% load i18n allauth account %}


{% block extra_css %}
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            max-width: 500px;
        }

        .title {
            font-family: 'Poppins', sans-serif;
            color: #444;
            margin-bottom: 20px;
            font-weight: bolder;
            font-size: 24px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-secondary {
            background-color: #444;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }
        .btn-secondary:hover{
            background-color: #666;
        }

        p {
            margin-bottom: 20px;
            color: #666;
        }
    </style>
{% endblock extra_css %}

{% block content %}
    <div class="container">
        <h2 class="title">{% trans "Password Reset" %}</h2>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>
            {% trans "Want to reset your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
        </p>

        {% url 'account_reset_password' as reset_url %}
        <form method="post" action="{{ reset_url }}" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">{% trans 'Reset My Password' %}</button>
        </form>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock content %}