{% extends 'main/base.html' %}
{% block content %}
{% load humanize %}
<html>

<head>
    <title>Search Users</title>

    <style>
        .username-button {
            border: none;
            background: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            font-size: 18px;
            color: black; 
            text-decoration: none; 
        }
    </style>

</head>

<body>

    <h1>User Search</h1>
    <hr class="my-4">
    <div style="height: 10px;"></div>

    <form method="post" action="{% url 'user_search' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Search</button>
    </form>

    {% if results %}
    <div style="height: 15px;"></div>
    <div class="search-results">
        <h2>Search Results:</h2>
        <div style="height: 10px;"></div>
        <ul class="list-group">
            {% for user in results %}
                <li class="list-group-item">
                    <a href="{% url 'user_portfolio' user.username %}" class="btn btn-link username-button">{{ user.username }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</body>
</html>

{% endblock %}